<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Viagens - Health Transportation</title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold"><i class="fas fa-caret-right"></i> Viagens</h1>
    </div>

    <div th:replace="fragments/alert"></div>

    <div class="card shadow rounded mt-3">
        <div class="card-header">
            <div class="row">
                <div class="ml-3 d-flex align-items-center">
                    <i class="fas fa-caret-right mr-1"></i> Qnt. de usuários encontrados:
                    <span class="font-weight-bold ml-1"
                          th:text="${queryIsEmpty} ? '0' : ${travels.getTotalElements()} "></span>
                </div>

                <div class="col-md col-sm-12 d-flex justify-content-end">
                    <th:block th:switch="${isSearch}">

                        <th:block th:case="${false}">
                            <!-- Topbar Search -->
                            <form class="form-inline navbar-search" th:action="@{/travels}" method="GET">
                                <div class="input-group">
                                    <input type="date" class="form-control border-1 small" aria-label="Search"
                                           th:max="${dateToday}"

                                           aria-describedby="basic-addon2" th:name="date">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </th:block>

                        <th:block th:case="${true}">
                            <div class="form-inline navbar-search">
                                <div class="input-group">
                                    <input type="search" class="form-control border-1 small"
                                           aria-label="Search"
                                           aria-describedby="basic-addon2" th:name="date"
                                           th:value="${#temporals.format(date, 'dd/MM/yyyy')}"
                                           disabled>
                                    <div class="input-group-append">
                                        <a class="btn btn-danger" type="button" th:href="@{/travels}" title="Voltar">
                                            <i class="fas fa-times fa-sm"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="card-body p-0" th:switch="${queryIsEmpty}">

            <th:block th:case="${true}">
                <div class="w-100 h-100 p-5 d-flex justify-content-center d-flex align-items-center"
                     th:switch="${isSearch}">
                    <div class="text-center" th:case="${true}">
                        <i class="fas fa-search" style="font-size: 5rem"></i>
                        <h3 class="mt-2 font-weight-bold">NENHUM RESULTADO ENCONTRADO!!</h3>
                        <h4>Não encontramos nenhuma viagem com a data de saída <b class="text-danger"
                                                                                  th:text="${#temporals.format(date, 'dd/MM/yyyy')}"></b>.
                        </h4>
                    </div>

                    <div class="text-center" th:case="${false}">
                        <i class="fas fa-travel" style="font-size: 5rem"></i>
                        <h3 class="mt-2 font-weight-bold">Não há viagens cadastradas.</h3>
                        <a class="btn btn-primary font-weight-bold mt-1"
                           th:href="@{/travels/create}">CADASTRAR</a>
                    </div>
                </div>
            </th:block>
            <th:block th:case="${false}">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <caption>
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="${!travels.hasPrevious()} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="${date == null } ? @{/travels(page=${travels.getNumber - 1})} : @{/travels(page=${travels.getNumber - 1}, date=${date})}"
                                           tabindex="-1"
                                           aria-disabled="true">
                                            <span aria-hidden="true"><i class="fas fa-chevron-left"></i></i></span>
                                        </a>
                                    </li>

                                    <!-- For de páginas -->
                                    <th:block th:each="i: ${#numbers.sequence(0, travels.getTotalPages - 1)}">
                                        <li class="page-item" th:classappend="${travels.getNumber == i} ? 'active'">
                                            <a class="page-link"
                                               th:href="${date == null } ? @{/travels(page=${i})} : @{/travels(page=${i}, date=${date})}"
                                               th:text="${i}"></a>
                                        </li>
                                    </th:block>
                                    <!-- EndFor de páginas -->

                                    <li class="page-item" th:classappend="${!travels.hasNext()} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="${date == null } ? @{/travels(page=${travels.getNumber + 1})} : @{/travels(page=${travels.getNumber + 1}, date=${date})}"
                                           tabindex="-1"
                                           aria-disabled="true">
                                <span aria-hidden="true" class="font-weight-bold"><i
                                        class="fas fa-chevron-right"></i></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </caption>
                        <thead>
                        <tr class="text-truncate">
                            <th class='text-center text-dark' scope="col">Saída</th>
                            <th class='text-center text-dark' scope="col">Retorno</th>
                            <th class='text-center text-dark' scope="col">Destino</th>
                            <th class='text-center text-dark' scope="col">Motorista</th>
                            <th class='text-center text-dark' scope="col">Veículo</th>
                            <th class='text-center text-dark' scope="col">Locações</th>
                            <th class='text-center text-dark' scope="col">Status</th>
                            <th class='text-center text-dark' scope="col">Ações</th>

                            <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                                <th class='text-center text-dark' scope="col">Oper. Realizada por</th>
                                <th class='text-center text-dark' scope="col">Data da Operação</th>
                            </th:block>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="travel : ${travels}" class="text-truncate">

                            <td class="text-center align-middle"
                                th:text="*{#temporals.format(travel.departureDate, 'dd/MM/yyyy')}"></td>
                            <td class="text-center align-middle"
                                th:text="${travel.returnDate != null ? #temporals.format(travel.returnDate, 'dd/MM/yyyy') : '- - -'}"></td>
                            <td class="text-center align-middle"
                                th:text="${#strings.concat(travel.destinyCity, ' - ', travel.destinyState)}"></td>
                            <td class="text-center align-middle" th:text="*{travel.driver.name}"></td>
                            <td class="text-center align-middle" th:text="*{travel.vehicle.name}"></td>
                            <td class="text-center align-middle"
                                th:text="${#strings.concat(travel.getQntPassengers, '/', travel.vehicle.capacity)}"></td>
                            <td class="text-center align-middle" th:text="*{travel.status.description}">
                            <td class="text-center align-middle text-truncate">
                                <!--              th:classappend="${!vehicle.available} ? 'disabled'"-->
                                <a class="btn btn-primary btn-sm" title="Editar"
                                   th:classappend="${travel.getStatus().description == 'Aguardando' } ? '' : 'disabled'"
                                   th:href="@{/travels/update/{id} (id=${travel.id}) }">
                                    <i class="fas fa-pen text-light"></i>
                                </a>

                                <a class="btn btn-info btn-sm" title="Locações"
                                   th:href="@{/travels/{id}/locations (id=${travel.id}) }">
                                    <i class="fas fa-users text-light"></i>
                                </a>

                                <!--              th:classappend="${!vehicle.available} ? 'disabled'"-->
                                <button th:id="${#strings.concat('btn_travels/delete/', travel.id)}"
                                        th:disabled="${travel.status.description != 'Aguardando' ? true : false}"
                                        type="button" title="Remover"
                                        class="btn btn-danger btn-sm"
                                        data-toggle="modal" data-target="#myModal">
                                    <i class="fas fa-trash text-light"></i>
                                </button>
                            </td>

                            <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                                <td class="text-center align-middle" th:text="*{travel.lastModifiedBy}"></td>
                                <td class="text-center align-middle"
                                    th:text="*{#dates.format(travel.lastModifiedDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            </th:block>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </th:block>


        </div>
    </div>
</div>
<div th:replace="fragments/modal :: modal"></div>
</div>


</body>
</html>