<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Alterar Senha - Health Transportation</title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div th:replace="fragments/alert"></div>

    <div class="d-sm-flex align-items-center d-flex justify-content-center text-center mb-2">
        <h1 class="h3 mb-0 text-gray-800">Alterar Senha</h1>
    </div>

    <hr class="w-75">

    <div class="d-flex justify-content-center">
        <div class="card shadow rounded mt-4">
            <div class="card-body">

                <form class="user" autocomplete="off" th:action="@{/user/change-password/save}"
                      th:object="${changePassword}" method="post">

                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Senha atual <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" maxlength="11">
                                <small class="text-danger" th:errors="*{oldPassword}"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Nova senha <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" maxlength="11">
                                <small class="text-danger" th:errors="*{newPassword}"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md col-sm-12 d-flex align-items-center">
                            <div class="form-group mt-2">

                                <input type="checkbox" id="showPasswordsCheckbox">
                                <label>Mostrar senhas</label> <br>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <b>ALTERAR</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>





</body>
</html>