<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="text=${createView} ? 'Adicionar' : 'Editar'">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title"
           th:text="${#strings.concat(text,' Usuário - Health Transportation')}"></title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="d-sm-flex align-items-center d-flex justify-content-center text-center mb-2">
        <h1 class="h3 mb-0 text-gray-800"
            th:text="${#strings.concat(text,' Usuário')}"></h1>
    </div>


    <hr class="w-75">

    <div class="d-flex justify-content-center">
        <div class="card shadow rounded mt-4 w-75">
            <div class="card-body">

                <form class="user" autocomplete="off"
                      th:action="${createView} ?  @{/users/create/save} : @{/users/update/save}"
                      th:object="${user}" method="post">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <div class="h4 mb-0 text-gray-800">
                            <i class="fas fa-caret-right"></i> <b>Dados do Funcionário</b>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Nome <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="text" class="form-control" id="name" th:field="*{name}"
                                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
                                <small class="text-danger" th:errors="*{name}"></small>
                            </div>
                        </div>


                        <div class="col-md-5 col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Matrícula <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="text" class="form-control" id="enrollment" th:field="*{enrollment}"
                                       onpaste="return false;"
                                       th:classappend="${#fields.hasErrors('enrollment')} ? 'is-invalid'">
                                <small class="text-danger" th:errors="*{enrollment}"></small>
                            </div>
                        </div>


                    </div>


                    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-1">
                        <div class="h4 mb-0 text-gray-800">
                            <i class="fas fa-caret-right"></i> <b>Informações do Usuário</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Usuário <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       th:field="*{username}"
                                       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
                                <small class="text-danger" th:errors="*{username}"></small>
                            </div>
                        </div>

                        <div class="col-md col-sm-12" th:if="${#strings.contains(#httpServletRequest.requestURI, '/users/create')}">
                            <div class="form-group">
                                <label class="font-weight-bold">Senha <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="text" class="form-control" id="password"
                                       th:field="*{password}"
                                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                                       maxlength="11">
                                <small class="text-danger" th:errors="*{password}"></small>
                            </div>
                        </div>

                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Email <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="email" class="form-control" id="email"
                                       th:field="*{email}"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                                <small class="text-danger" th:errors="*{email}"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Função <small
                                        class="text-secondary">(Obrigatório)</small></label>

                                <select class="custom-select" id="roles" th:field="*{roles}" th:classappend="${#fields.hasErrors('roles')} ? 'is-invalid'">
                                    <option value="">- - -</option>
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                            th:text="${role.role}"
                                    ></option>
                                </select>

                                <small class="text-danger" th:errors="*{roles}"></small>
                            </div>
                        </div>

                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Centro de Saúde <small
                                        class="text-secondary">(Obrigatório)</small></label>

                                <select class="custom-select" id="healthCenter" th:field="*{healthCenter}" th:classappend="${#fields.hasErrors('healthCenter')} ? 'is-invalid'">
                                    <option value="">- - -</option>
                                    <option th:each="healthCenter : ${healthCenters}"
                                            th:value="${healthCenter.id}"
                                            th:text="${healthCenter.address.formatedAddress}"></option>
                                </select>

                                <small class="text-danger" th:errors="*{healthCenter}"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md col-sm-12 d-flex align-items-center">
                            <div class="form-group mt-2">

                                <input type="checkbox" id="active" th:field="*{active}">
                                <label th:for="${#ids.next('active')}">Ativo</label> <br>
                                <small>Indica que este usuário está ativo ou não no sistema.</small>

                            </div>
                        </div>

                        <div class="col-md col-sm-12 d-flex align-items-center"
                             th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                            <div class="form-group mt-2">

                                <input type="checkbox" id="staff" th:field="*{staff}">
                                <label th:for="${#ids.next('staff')}">Staff</label> <br>
                                <small>Indica que este usuário é um administrador do sistema.</small>

                            </div>
                        </div>

                    </div>

                    <br>

                    <input type="hidden" th:field="*{id}">


                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary font-weight-bold" th:text="${createView} ? 'CADASTRAR' : 'SALVAR'">
                            <b>CADASTRAR</b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>