<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Usuários - Health Transportation</title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Usuários</h1>
    </div>

    <div th:replace="fragments/alert"></div>

    <div class="card shadow rounded mt-3">
        <div class="card-header d-flex align-items-center d-flex justify-content-end">


            <div>
                <!-- Topbar Search -->
                <form class="form-inline navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control border-1 small"
                               placeholder="Buscar por matrícula ..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <caption class="ml-4">
                        <i class="fas fa-caret-right"></i> Qnt. de usuários encontrados:
                        <span class="font-weight-bold" th:text="${#lists.size(users)}"></span>
                    </caption>
                    <thead>
                    <tr>
                        <th class='text-center align-middle text-dark' scope="col">Username</th>
                        <th class='text-center align-middle text-dark' scope="col">Email</th>
                        <th class='text-center align-middle text-dark' scope="col">Centro de saúde</th>
                        <th class='text-center align-middle text-dark' scope="col">Criado em</th>
                        <th class='text-center align-middle text-dark' scope="col">Função</th>
                        <th class='text-center align-middle text-dark' scope="col">Matrícula</th>
                        <th class='text-center align-middle text-dark' scope="col">Ativo</th>
                        <th class='text-center align-middle text-dark' scope="col">Editar</th>
                        <th class='text-center align-middle text-dark' scope="col" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">Remover</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">

                        <td class="text-center align-middle" th:text="*{user.username}"></td>
                        <td class="text-center align-middle" th:text="*{user.email}"></td>
                        <td class="text-center align-middle" th:text="*{user.healthCenter.address.formatedAddress}"></td>
                        <td class="text-center align-middle" th:text="${#temporals.format(user.createdAt, 'dd/MM/yyyy')}"></td>

                        <td class="text-center align-middle" th:utext="*{user.ShowRoles}"></td>
                        <td class="text-center align-middle" th:utext="*{user.enrollment}"></td>

                        <td class="text-center align-middle" th:switch="*{user.active}">
                            <i class="fas fa-check text-success" th:case="true"></i>
                            <i class="fas fa-times text-danger" th:case="false"></i>
                        </td>


                        <td class="text-center align-middle">
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/users/employee/update/{id} (id=${user.id}) }">
                                <i class="fas fa-pen text-light"></i>

                            </a>
                        </td>

                        <td  class="text-center align-middle" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                            <button th:id="${#strings.concat('btn_users/delete/', user.id)}"
                                    type="button"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-trash text-light"></i>
                            </button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/modal :: modal"></div>
</div>


</body>
</html>