<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Prefeituras - Health Transportation</title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Prefeituras</h1>
    </div>

    <div th:replace="fragments/alert"></div>

    <div class="card shadow rounded mt-3">
        <div class="card-header d-flex align-items-center d-flex justify-content-end">


            <div>
                <!-- Topbar Search -->
                <form class="form-inline navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control border-1 small"
                               placeholder="Buscar por cidade ..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <caption class="ml-4">
                        <i class="fas fa-caret-right"></i> Qnt. de prefeituras encontradas:
                        <span class="font-weight-bold" th:text="${#lists.size(prefectures)}"></span>
                    </caption>
                    <thead>
                    <tr  class="text-truncate">
                        <th class='text-center text-dark' scope="col">Cidade</th>
                        <th class='text-center text-dark' scope="col">Estado</th>
                        <th class='text-center text-dark' scope="col">Email</th>
                        <th class='text-center text-dark' scope="col">Site</th>
                        <th class='text-center text-dark' scope="col">CNPJ</th>
                        <th class='text-center text-dark' scope="col">Ativa</th>
                        <th class='text-center text-dark' scope="col">Ações</th>

                        <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">

                            <th class='text-center text-dark' scope="col">Criado por</th>
                            <th class='text-center text-dark' scope="col">Dat. de criação</th>
                            <th class='text-center text-dark' scope="col">Última modificação por</th>
                            <th class='text-center text-dark' scope="col">Dat. da última modificação</th>

                        </th:block>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prefecture : ${prefectures}" class="text-truncate">

                        <td class="text-center align-middle" th:text="*{prefecture.address.city}"></td>
                        <td class="text-center align-middle" th:text="*{prefecture.address.state}"></td>
                        <td class="text-center align-middle" th:text="*{prefecture.email}"></td>
                        <td class="text-center align-middle" th:text="*{prefecture.site}"></td>
                        <td class="text-center align-middle" th:text="*{prefecture.cnpj}"></td>

                        <td class="text-center align-middle" th:switch="*{prefecture.active}">
                            <i class="fas fa-check text-success" th:case="true"></i>
                            <i class="fas fa-times text-danger" th:case="false"></i>
                        </td>

                        <td class="text-center align-middle nowrap">
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/prefecture/update/{id} (id=${prefecture.id}) }">
                                <i class="fas fa-pen text-light"></i>
                            </a>

                            <button th:id="${#strings.concat('btn_prefecture/delete/', prefecture.id)}" type="button"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-trash text-light"></i>
                            </button>
                        </td>

                        <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">



                            <td class="text-center align-middle" th:text="*{prefecture.createdBy}"></td>
                            <td class="text-center align-middle" th:text="*{#dates.format(prefecture.createdDate, 'dd/MM/yyyy')}"></td>
                            <td class="text-center align-middle" th:text="*{prefecture.lastModifiedBy}"></td>
                            <td class="text-center align-middle" th:text="*{#dates.format(prefecture.lastModifiedDate, 'dd/MM/yyyy')}"></td>

                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/modal :: modal"></div>
</div>


</body>
</html>