<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="action=${driver.id == null} ? 'Adicionar' : 'Editar'">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title"
           th:text="${#strings.concat(action,' Motorista - Health Transportation')}"></title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="d-sm-flex align-items-center d-flex justify-content-center text-center mb-2">
        <h1 class="h3 mb-0 text-gray-800" th:text="${#strings.concat(action,' Motorista')}"></h1>
    </div>

    <hr>

    <div class="d-flex justify-content-center">
        <div class="card shadow rounded mt-4 w-25">
            <div class="card-body">


                <form class="user" autocomplete="off"
                      th:action="${createView} ?  @{/drivers/create/save} : @{/drivers/update/{id}/save (id=${driver.id})} "
                      th:object="${driver}" method="post">

                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Nome <small
                                        class="text-secondary">(Obrigatório)</small></label>
                                <input type="text" class="form-control" id="name" th:field="*{name}"
                                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
                                <small class="text-danger" th:errors="*{name}"></small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Centro de Saúde <small
                                        class="text-secondary">(Obrigatório)</small></label>

                                <select class="custom-select" id="healthCenter" th:field="*{healthCenter}"
                                        th:classappend="${#fields.hasErrors('healthCenter')} ? 'is-invalid'">
                                    <option value="">- - -</option>
                                    <option th:each="healthCenter : ${healthCenters}"
                                            th:value="${healthCenter.id}"
                                            th:text="${healthCenter.address.formatedAddress}"></option>
                                </select>

                                <small class="text-danger" th:errors="*{healthCenter}"></small>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="id" th:field="*{id}"/>

                    <br>

                    <button type="submit" class="btn btn-primary font-weight-bold btn-block"
                            th:text="${createView} ? 'CADASTRAR' : 'SALVAR'"></button>

                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>