<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"/></head>
<body>
<!--CONFIRM MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h3>Deseja continuar com a exclusão ?</h3>
      </div>
      <div class="modal-footer">
        <button id="ok_confirm" type="button" class="btn btn-danger btn-block font-weight-bold">CONFIRMAR</button>
        <button type="button" class="btn btn-outline-secondary btn-block font-weight-bold" data-dismiss="modal">VOLTAR</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>