<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-ambulance"></i>
        </div>

        <!-- <div class="sidebar-brand-text mx-2">Health Transportation</div> -->

    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend=" ${#httpServletRequest.requestURI} == '/' ? 'active'">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-home"></i>
            <span>Página principal</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Módulos
    </div>


    <li class="nav-item"
        th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/health-centers')} ? 'active'"
        th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesHealthCenters"
           aria-expanded="true" aria-controls="collapsePagesHealthCenters">
            <i class="fas fa-hospital"></i>
            <span>Cent. de Saúde</span>
        </a>
        <div id="collapsePagesHealthCenters" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/health-centers}">Visualizar</a>
                <a class="collapse-item" th:href="@{/health-centers/create}">Cadastrar</a>

            </div>
        </div>
    </li>

    <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/drivers')} ? 'active'"
        th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesDrivers"
           aria-expanded="true" aria-controls="collapsePagesDrivers">
            <i class="fas fa-fw fa-user"></i>
            <span>Motoristas</span>
        </a>
        <div id="collapsePagesDrivers" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/drivers}">Visualizar</a>
                <a class="collapse-item" th:href="@{/drivers/create}">Cadastrar</a>
            </div>
        </div>
    </li>

    <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/passengers')} ? 'active'">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesPassengers"
           aria-expanded="true" aria-controls="collapsePagesPassengers">
            <i class="fas fa-fw fa-user"></i>
            <span>Passageiros</span>
        </a>
        <div id="collapsePagesPassengers" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/passengers}">Visualizar</a>
                <a class="collapse-item" th:href="@{/passengers/create}">Cadastrar</a>
            </div>
        </div>
    </li>

    <li class="nav-item"
        th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/prefecture/')} ? 'active'"
        th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesPrefectures"
           aria-expanded="true" aria-controls="collapsePagesPrefectures">
            <i class="fas fa-fw fa-hotel"></i>
            <span>Prefeituras</span>
        </a>
        <div id="collapsePagesPrefectures" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/prefecture/list}">Visualizar</a>
                <a class="collapse-item" th:href="@{/prefecture/register}">Cadastrar</a>

            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesPassenger"-->
    <!--           aria-expanded="true" aria-controls="collapsePagesPassenger">-->
    <!--            <i class="fas fa-fw fa-users"></i>-->
    <!--            <span>Passageiros</span>-->
    <!--        </a>-->
    <!--        <div id="collapsePagesPassenger" class="collapse" aria-labelledby="headingPages"-->
    <!--             data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Ações</h6>-->
    <!--                <a class="collapse-item" href="login.html">Visualizar</a>-->
    <!--                <a class="collapse-item" href="register.html">Cadastrar</a>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesTravel"-->
    <!--           aria-expanded="true" aria-controls="collapsePagesTravel">-->
    <!--            <i class="fas fa-fw fa-route"></i>-->
    <!--            <span>Viagens</span>-->
    <!--        </a>-->
    <!--        <div id="collapsePagesTravel" class="collapse" aria-labelledby="headingPages"-->
    <!--             data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Ações</h6>-->
    <!--                <a class="collapse-item" href="login.html">Visualizar</a>-->
    <!--                <a class="collapse-item" href="register.html">Cadastrar</a>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/users')} ? 'active'"
        th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesEmployees"
           aria-expanded="true" aria-controls="collapsePagesEmployees">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Usuários</span>
        </a>
        <div id="collapsePagesEmployees" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/users}">Visualizar</a>
                <a class="collapse-item" th:href="@{/users/create}">Cadastrar</a>
                <a class="collapse-item" th:href="@{/users/reset-requests}">Resets de Senha</a>
            </div>
        </div>
    </li>

    <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/vehicles')} ? 'active'"
        th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesVehicles"
           aria-expanded="true" aria-controls="collapsePagesVehicles">
            <i class="fas fa-fw fa-car-side"></i>
            <span>Veículos</span>
        </a>
        <div id="collapsePagesVehicles" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/vehicles}">Visualizar</a>
                <a class="collapse-item" th:href="@{/vehicles/create}">Cadastrar</a>
            </div>
        </div>
    </li>

    <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/travels')} ? 'active'">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesTravels"
           aria-expanded="true" aria-controls="collapsePagesTravels">
            <i class="fas fa-fw fa-route"></i>
            <span>Viagens</span>
        </a>
        <div id="collapsePagesTravels" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações</h6>
                <a class="collapse-item" th:href="@{/travels}">Visualizar</a>
                <a class="collapse-item" th:href="@{/travels/create}">Cadastrar</a>
            </div>
        </div>
    </li>

    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesVehicles"-->
    <!--           aria-expanded="true" aria-controls="collapsePagesVehicles">-->
    <!--            <i class="fas fa-fw fa-bus-alt"></i>-->
    <!--            <span>Veículos</span>-->
    <!--        </a>-->
    <!--        <div id="collapsePagesVehicles" class="collapse" aria-labelledby="headingPages"-->
    <!--             data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Ações</h6>-->
    <!--                <a class="collapse-item" href="login.html">Visualizar</a>-->
    <!--                <a class="collapse-item" href="register.html">Cadastrar</a>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesDrivers"-->
    <!--           aria-expanded="true" aria-controls="collapsePagesDrivers">-->
    <!--            <i class="fas fa-fw fa-user"></i>-->
    <!--            <span>Motoristas</span>-->
    <!--        </a>-->
    <!--        <div id="collapsePagesDrivers" class="collapse" aria-labelledby="headingPages"-->
    <!--             data-parent="#accordionSidebar">-->
    <!--            <div class="bg-white py-2 collapse-inner rounded">-->
    <!--                <h6 class="collapse-header">Ações</h6>-->
    <!--                <a class="collapse-item" href="login.html">Visualizar</a>-->
    <!--                <a class="collapse-item" href="register.html">Cadastrar</a>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</body>
</html>