<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Página principal - Health Transportation</title>



</head>
<body>

<div layout:fragment="content">

    <div th:replace="fragments/alert"></div>


    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Olá,
                <b></b>
                <th:block th:text="${#authentication.name}"></th:block>
                </b>
                !
            </h1>
            <p class="lead">Seja bem-vindo ao <b>Health Transportations</b>. Este Sistema é utilizado para organização e
                gerenciamento das viagens e seus respectivos processos, referentes ao programa de <b>Tratamento Fora de
                    Domicílio (TFD)</b>.
            </p>
            <hr class="my-4">
            <p>Aqui estão as nossas funcionalidades em forma de atalhos rápidos, aproveite. </p>

            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4"
                     th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <a th:href="@{/health-centers}"
                       class="btn btn-primary btn-block font-weight-bold">
                        <span class="icon text-light"><i class="fas fa-hospital mr-1"></i></span>
                        <span class="text">Centros de Saúde</span>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4"
                     th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
                    <a class="btn btn-primary btn-block font-weight-bold"
                       th:href="@{/drivers}">
                <span class="icon text-light">
                    <i class="fas fa-user mr-1"></i>
                </span>
                        <span class="text">Motoristas</span>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <a th:href="@{/passengers}" class="btn btn-primary btn-block font-weight-bold">
                <span class="icon text-light">
                    <i class="fas fa-user mr-1"></i>
                </span>
                        <span class="text">Passageiros</span>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4"
                     th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                    <a th:href="@{/prefecture/list}"
                       class="btn btn-primary btn-block font-weight-bold">
                <span class="icon text-light">
                    <i class="fas fa-hotel mr-1"></i>
                </span>
                        <span class="text">Prefeituras</span>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4"
                     th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
                    <a th:href="@{/users}" class="btn btn-primary btn-block font-weight-bold">
                <span class="icon text-light">
                    <i class="fas fa-user-tie mr-1"></i>
                </span>
                        <span class="text">Usuários</span>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4"
                     th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
                    <a th:href="@{/vehicles}"
                       class="btn btn-primary btn-block font-weight-bold">
                <span class="icon text-light"><i class="fas fa-car-side mr-1"></i>
                </span><span class="text">Veículos</span>
                    </a>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">

                    <a th:href="@{/travels}" class="btn btn-primary btn-block font-weight-bold">
                        <span class="icon text-light"><i class="fas fa-route mr-1"></i></span>
                        <span class="text">Viagens</span>
                    </a>
                </div>
            </div>
        </div>

    </div>



    <!--    <div sec:authorize="isAuthenticated()">-->
    <!--        This content is only shown to authenticated users.-->
    <!--    </div>-->

    <!--    <sec:authorize access="hasRole('ADMIN')" var="isAdmin"></sec:authorize>-->

    <!--    <div class="form-group" th:if="${isAdmin}">-->
    <!--        asdaosldkapsodkapsodkapsodk-->
    <!--    </div>-->


    <!--    <div sec:authentication="principal"></div>-->


    <!--    <div sec:authorize="hasAuthority('ADMIN')">-->
    <!--        This will only be displayed if authenticated user has role ROLE_ADMIN.-->
    <!--    </div>-->
    <!--    <div sec:authorize="hasAuthority('OPERADOR')">-->
    <!--        This will only be displayed if authenticated user has role OPERADOR.-->
    <!--    </div>-->
    <!--    -->
    <!--    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">-->
    <!--    </div>-->


    <!--    Logged user: <span sec:authentication="name"></span> <br>-->
    <!--    Roles: <span sec:authentication="principal.authorities"></span>-->


    <!--    <div sec:authorize="hasRole('ADMIN')">-->
    <!--        This content is only shown to users.-->
    <!--    </div>-->


    <!--    <h1 class="text-black-50" th:text="${#strings.contains(#httpServletRequest.getUserPrincipal().authorities, 'GESTOR')}"></h1>-->
    <!--    <h1 th:text="${#httpServletRequest.getUserPrincipal().authorities}"></h1>-->
    <!--    <h1 class="text-black-50" th:text="${#httpServletRequest.getUserPrincipal().authorities}"></h1>-->
    <!--    <h1 class="text-black-50" th:text="${#httpServletRequest.getUserPrincipal().getName()}"></h1>-->
</div>

</body>
</html>