<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Página principal - Health Transportation</title>
</head>
<body>

<div layout:fragment="content">

    <div th:replace="fragments/alert"></div>


    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4">Olá,
                <b></b><th:block th:text="${#authentication.name}"></th:block></b>
                !
            </h1>
            <p class="lead">Seja bem-vindo ao <b>Health Transportations</b>. Este Sistema é utilizado para organização e
                gerenciamento das viagens e seus respectivos processos, referentes ao programa de <b>Tratamento Fora de
                    Domicílio (TFD)</b>.
            </p>
            <hr class="my-4">
            <p>Aqui estão as nossas funcionalidades em forma de atalhos rápidos, aproveite. </p>


            <a class="btn btn-primary" th:href="@{/health-center/list}" role="button"
               th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <i class="fas fa-hospital"></i>
                <span>Cent. de Saúde</span>
            </a>
            <a class="btn btn-primary" th:href="@{/drivers}" role="button"
               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
                <i class="fas fa-fw fa-user"></i>
                <span>Motoristas</span>
            </a>
            <a class="btn btn-primary" th:href="@{/passengers}" role="button">
                <i class="fas fa-fw fa-user"></i>
                <span>Passageiros</span>
            </a>
            <a class="btn btn-primary" th:href="@{/prefecture/list}" role="button"
               th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <i class="fas fa-fw fa-hotel"></i>
                <span>Prefeituras</span>
            </a>
            <a class="btn btn-primary" th:href="@{/users}" role="button"
               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Usuários</span>
            </a>
            <a class="btn btn-primary" th:href="@{/vehicles}" role="button"
               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''GESTOR'')')}">
                <i class="fas fa-fw fa-car-side"></i>
                <span>Veículos</span>
            </a>
            <a class="btn btn-primary" th:href="@{/travels}" role="button">
                <i class="fas fa-fw fa-route"></i>
                <span>Viagens</span>
            </a>

        </div>


    </div>


    <!--    <div sec:authorize="isAuthenticated()">-->
    <!--        This content is only shown to authenticated users.-->
    <!--    </div>-->

    <!--    <sec:authorize access="hasRole('ADMIN')" var="isAdmin"></sec:authorize>-->

    <!--    <div class="form-group" th:if="${isAdmin}">-->
    <!--        asdaosldkapsodkapsodkapsodk-->
    <!--    </div>-->


    <!--    <div sec:authentication="principal"></div>-->


    <!--    <div sec:authorize="hasAuthority('ADMIN')">-->
    <!--        This will only be displayed if authenticated user has role ROLE_ADMIN.-->
    <!--    </div>-->
    <!--    <div sec:authorize="hasAuthority('OPERADOR')">-->
    <!--        This will only be displayed if authenticated user has role OPERADOR.-->
    <!--    </div>-->
    <!--    -->
    <!--    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">-->
    <!--    </div>-->


    <!--    Logged user: <span sec:authentication="name"></span> <br>-->
    <!--    Roles: <span sec:authentication="principal.authorities"></span>-->


    <!--    <div sec:authorize="hasRole('ADMIN')">-->
    <!--        This content is only shown to users.-->
    <!--    </div>-->


    <!--    <h1 class="text-black-50" th:text="${#strings.contains(#httpServletRequest.getUserPrincipal().authorities, 'GESTOR')}"></h1>-->
    <!--    <h1 th:text="${#httpServletRequest.getUserPrincipal().authorities}"></h1>-->
    <!--    <h1 class="text-black-50" th:text="${#httpServletRequest.getUserPrincipal().authorities}"></h1>-->
    <!--    <h1 class="text-black-50" th:text="${#httpServletRequest.getUserPrincipal().getName()}"></h1>-->
</div>

</body>
</html>