<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login - Health Transportation</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/icon/ambulance.ico}" >



</head>

<body style="background-color: whitesmoke;">
<div class="d-flex justify-content-center d-flex align-items-center"
     style="width: 100vw; height: 90vh;">
    <div class="row justify-content-center align-self-center">

        <div class="col-md col-sm-12">
            <div class="card shadow-lg p-3 mb-5 rounded">
                <div class="p-4">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Bem-vindo! <br> Faça login para continuar.</h1>
                    </div>



                    <form class="user" th:action="@{/login}" method="POST" >
                        <div class="form-group">
                            <input class="form-control form-control-user" type="text" id="username" name="username"
                                   placeholder="Nome de usuário" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user"
                                   id="password" name="password" placeholder="Senha" required>
                        </div>

                        <div th:if="${param.error}" class="mb-3">
                            <small class="text-danger">*Usuário ou Senha inválido, tente novamente.</small>
                        </div>

                        <button class="btn btn-primary btn-user btn-block" name="Submit" value="Login" type="Submit">
                            <b>ENTRAR</b>
                        </button>

                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" th:href="@{/forgout-password}">Esqueceu sua senha ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class='text-center'>
    <div class='text-dark'>
        <b>Copyright © Health Transportation - 2021</b>
    </div>
</footer>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>