<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Locações - Health Transportation</title>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="d-sm-flex align-items-center mb-4">
        <div class="col-md col-sm-12">
            <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Viagem</h1>
        </div>


        <div class="col-md-1 col-sm-12">
            <div class="dropdown no-arrow">
                <button class="btn btn-primary dropdown-toggle" type="button" title="Menu"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false"
                        aria-expanded="false">
                    <i class="fas fa-bars text-light"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-left mt-2 mr-3" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{/travels/{id}/locations/create (id=${travel.id})}">
                        <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-danger-400"></i>
                        Adicionar Passageiro
                    </a>
                    <button class="dropdown-item" type="button" id="buttonExportPdf">
                        <i class="fas fas fa-file-pdf fa-sm fa-fw mr-2 text-danger-400"></i>
                        Esportar (PDF)
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/alert"></div>


    <input type="hidden" th:value="${travel.id}" id="travelId">

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Capacidade
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                 th:text="${#strings.concat(travel.getQntPassengers, '/', travel.vehicle.capacity)}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Status
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                 th:text="${travel.status.getDescription()}"></div>
                        </div>
                        <div class="col-auto" th:switch="${travel.status}">
                            <i class="fas fa-spinner fa-2x text-gray-300" th:case="${travel.status.AGUARDANDO}"></i>
                            <i class="fas fa-route fa-2x text-gray-300" th:case="${travel.status.EM_TRANSITO}"></i>
                            <i class="fas fa-check fa-2x text-gray-300" th:case="${travel.status.CONCLUIDO}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Veículo
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                         th:text="${travel.vehicle.name}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bus-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Destino
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                 th:text="${#strings.concat(travel.destinyCity, ' - ', travel.destinyState)}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow rounded mt-3">
        <div class="card-header d-flex align-items-center d-flex justify-content-end">

            <div>
                <!-- Topbar Search -->
                <form class="form-inline navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control border-1 small"
                               placeholder="Buscar por nome ..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <caption class="ml-4">
                        <i class="fas fa-caret-right"></i> Qnt. de Passageiros encontrados:
                        <span class="font-weight-bold" th:text="${#lists.size(locations)}"></span>
                    </caption>
                    <thead>
                    <tr>
                        <th class='text-center text-dark' scope="col">Nome</th>
                        <th class='text-center text-dark' scope="col">SUS</th>
                        <th class='text-center text-dark' scope="col">Gênero</th>
                        <th class='text-center text-dark' scope="col">Categoria</th>
                        <th class='text-center text-dark' scope="col">Transição</th>
                        <th class='text-center text-dark' scope="col">Preferencial ?</th>
                        <th class='text-center text-dark' scope="col">Hospit/Especialidade</th>
                        <th class='text-center text-dark' scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${locations}">

                        <!--            <td class="text-center align-middle" th:text="${passenger.returnDate != null ? #temporals.format(travel.returnDate, 'dd/MM/yyyy') : '- - -'}"></td>-->
                        <!--            <td class="text-center align-middle" th:text="${#strings.concat(travel.destinyCity, ' - ', travel.destinyState)}"></td>-->
                        <!--            <td class="text-center align-middle" th:text="${#strings.concat(travel.registeredPassengers, '/', travel.vehicle.capacity)}"></td>-->
                        <td class="text-center align-middle text-truncate font-weight-bold">
                            <a th:text="*{location.passenger.name}"
                               th:href="@{/passengers/update/{rg} (rg=${location.passenger.rg}) }"></a>
                        </td>
                        <td class="text-center align-middle text-truncate" th:text="*{location.passenger.sus}"></td>
                        <td class="text-center align-middle" th:text="*{location.passenger.gender.initials}"></td>
                        <td class="text-center align-middle" th:text="*{location.category}"></td>
                        <td class="text-center align-middle" th:text="*{location.transition}"></td>

                        <td class="text-center align-middle text-truncate" th:switch="*{location.isPreferential}">
                            <i class="fas fa-check text-success" th:case="true" title="Sim"></i>
                            <i class="fas fa-times text-danger" th:case="false" title="Não"></i>
                        </td>

                        <td class="text-center align-middle" th:text="*{location.destinationHospital}"></td>

                        <td class="text-center align-middle text-truncate">
                            <a class="btn btn-primary btn-sm" title="Editar"

                               th:href="@{/travels/{idTravel}/locations/{idLocation}/update (idTravel=${travel.id}, idLocation=${location.id})}">
                                <i class="fas fa-pen text-light"></i>
                            </a>

                            <button th:id="${#strings.concat('btn_travels/', travel.id,'/locations/', location.id ,'/delete')}"
                                    type="button" title="Deletar locação"
                                    class="btn btn-danger btn-sm"
                                    data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-trash text-light"></i>
                            </button>

                            <!--                            <th:block th:switch="${passenger.active}">-->
                            <!--                                <button th:id="${#strings.concat('btn_passengers/', passenger.rg,'/deactivate')}"-->
                            <!--                                        type="button" title="Desativar"-->
                            <!--                                        class="btn btn-danger btn-sm"-->
                            <!--                                        data-toggle="modal" data-target="#myModal"-->
                            <!--                                        th:case="true">-->
                            <!--                                    <i class="fas fa-trash text-light"></i>-->
                            <!--                                </button>-->


                            <!--                            </th:block>-->
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/modal :: modal"></div>


    <div class="modal fade" id="modalSpinner" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">

            <div class="spinner-grow text-light" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

</div>


</body>
</html>